/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background:#4239e63a;
  padding: 15px;
  box-shadow: #8268b0 0px 8px 40px;
}

.navbar-title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color:#4239e63a;
  padding: 50px;
  border-radius:20px;
  box-shadow: #8268b0 0px 8px 40px;
}

.Todo-Container {
  background-color:#928df01c;
  padding: 20px;
  border-radius: 8px;
}

#NewItemInput {
  color:#f1faee;
  border-radius: 15px;
  border-width: 2.5px;
  color:#1d3557
}

#AddButton {
  background:#1ed94783;
  color:#f1faee;
  text-transform:uppercase;
  border-radius: 15px;
  border-width: 2.5px;
}

#ClearButton {
  background:rgb(219, 53, 53);
  color:#f1faee;
  text-transform:uppercase;
  border-radius: 15px;
  border-width: 2.5px;
}

#TodoList {
  font-size: 13px;
}

.remove-btn {
  background:rgb(219, 53, 53);
  color:#f1faee;
  text-transform:uppercase;
  border-radius: 15px;
  border-width: 2.5px;
}

.complete-btn {
  background:#1ed94783;
  color:#f1faee;
  text-transform:uppercase;
  border-radius: 15px;
  border-width: 2.5px;
}





/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}